body {
  background-color: #f5f5f5;
  margin: 0 auto;
  width: 50%;
  font-family: "Montserrat", "Avenir";
}

h1 {
  text-align: center;
  line-height: 1.1;
  color: white;
  background: #88a19f;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}

#colorDisplay {
  font-size: 160%;
}

.square {
  width: 30%;
  background: whitesmoke;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

#container {
  max-width: 600px;
  margin: 20px auto;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background: #88a19f;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: #88a19f;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

#message {
  color: #444;
  font-family: "Montserrat", "Avenir";
  font-weight: 700;
  display: inline-block;
  width: 20%;
}

button:hover {
  color: white;
  background: #88a19f;
}
