body {
  background-color: #f5f5f5;
  margin: 0 auto;
  width: 40%;
  font-family: "Montserrat", "Avenir";
}

h1 {
  text-align: center;
}

h2 {
  font-size: 26px;
  text-align: center;
  line-height: 1.5;
  color: black;
  background-color: whitesmoke !important;
  margin: 0;
  font-weight: normal;
  border-radius: 10px;
}

hr {
  color: #aaa;
  margin: 0 auto;
  width: 80%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: #88a19f;
  letter-spacing: 0.75px;
  font-size: 14px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  color: white;
  background: #88a19f;
}

a {
  color: #555;
  line-height: 200%;
  font-size: 22px;
  text-decoration: none;
}

a:hover {
  color: #999;
}

#top {
  margin-top: 50px;
  margin-bottom: 40px;
}

.info {
  font-size: 22px;
}

.square {
  width: 30%;
  background: whitesmoke;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 50%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

#life, #death, #win {
  max-width: 540px;
  padding-bottom: 100px;
  margin-bottom: 40px;
}

#correct {
  font-family: "Montserrat", "Avenir";
  color: #efd551;
  font-size: 20px;
  display: none;
}

#death {
  display: none;
  text-align: center;
}

.stripe {
  margin-top: 20px;
  height: 60px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background: #88a19f;
}

.stroke {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#reset{
  display: none;
}

#score, #lives {
  color: #444;
  font-family: "Montserrat", "Avenir";
  font-weight: 700;
  display: inline-block;
}

#whatIsRgb {
  text-align: center;
  margin: 0 auto;
}

#colorDisplay {
  font-size: 100%;
}

/*
#scoreDisplay {
  margin-top: 24rem;
  margin-bottom: 5rem;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

#lives {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
*/

.square {
  transition: all .25s ease-in-out;
  transform: scale(1);
}

.square:hover {
  transform: scale(1.1);
}

.animateWrong {
  transition: all .75s ease-in-out;
  border-radius: 0;
}

.animateCorrect {
  transform: scale(1.1);
  transform: scale(.5);
}

/* Devices with smaller screens */
@media (max-width:768px){
  body {
    width: 90%;
  }
}
